.owl-controls .owl-dot.active {
    background: #5CA7E0;
}

.btn-primary {
    background-color: #5CA7E0;
    border-color: #5CA7E0;
}

.btn-primary.btn-color:hover,
.btn-primary.btn-color:focus {
    background-color: #5CA7E0;
    border-color: #5CA7E0;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
    background-color: #5CA7E0;
    border-color: #5CA7E0;
}

.btn-primary.disabled,
.btn-primary:disabled {
    background-color: #5CA7E0;
    border-color: #5CA7E0;
}

.read-more-btn {
    color: #5CA7E0;
}

.owl-controls .owl-dot:hover {
    background: #5CA7E0;
}

.section-title h3::after {
    background: #5CA7E0;
}

.section-title:hover h3::before {
    background: #5CA7E0;
}

.preloader div:before {
    background-color: #5CA7E0;
}

.light .classynav ul li.megamenu-item ul .active a {
    color: #5CA7E0;
}

#search .close:hover,
#search .close:focus {
    background: #5CA7E0;
}

.header-top-social li a:hover {
    color: #5CA7E0;
}

.header-middle .middle-right .text p a:hover {
    color: #5CA7E0;
}

.main-header-area {
    background-color: #5CA7E0;
}

.main-header-two {
    background: transparent;
}

.light .classynav ul li .dropdown,
.light.classy-nav-container {
    background-color: #5CA7E0;
}

.main-header-area .classynav ul li .quote {
    background: #e05c04;
}

.main-header-two .classy-menu {
    background: #5CA7E0;
}

.main-header-two.is-sticky {
    background: #5CA7E0;
}

@media only screen and (max-width: 991px) {
    .classynav ul li.cn-dropdown-item ul .active a {
        background: #5CA7E0;
    }
}

.main-banner-text .read-more {
    border-bottom: 4px solid #5CA7E0;
}

.main-banner-text .read-more:hover {
    border-color: #5CA7E0;
}

.welcome-text span {
    color: #5CA7E0;
}

.services-box::before {
    background: #5CA7E0;
}

.servicesBox::before {
    background: #5CA7E0;
}

.single-services .content h3 i {
    color: #5CA7E0;
}

.services-list ul li a:hover {
    background: #5CA7E0;
}

.services-details-features ul li i {
    color: #5CA7E0;
}

.card-header a h5 {
    background: #5CA7E0;
}

.client-img::before {
    background: #5CA7E0;
}

.case-studies-content h3 a:hover {
    color: #5CA7E0;
}

.brief-case-box {
    border-left: 5px solid #5CA7E0;
}

.case-details-box .card-body ul li::before {
    background: #5CA7E0;
}

.query-and-funFacts {
    background: #5CA7E0;
}

.post-content ul li i {
    color: #5CA7E0;
}

.post-content ul li a {
    color: #5CA7E0;
}

.post-content h3 a:hover {
    color: #5CA7E0;
}

.see-all-post a {
    color: #5CA7E0;
}

.blog-details .title-text-box ul a i {
    color: #5CA7E0;
}

.blog-details-content .list-style li i {
    color: #5CA7E0;
}

.blog-details-content .social-share li a:hover {
    background: #5CA7E0;
}

.page-title ul li a:hover {
    color: #5CA7E0;
}

.what-we-do-img::before,
.what-we-do-img::after {
    border-left: 7px solid #5CA7E0;
    border-bottom: 7px solid #5CA7E0;
}

.what-we-do-img::after {
    border-top: 7px solid #5CA7E0;
    border-right: 7px solid #5CA7E0;
}

.pricing-table-header {
    background: #5CA7E0;
}

.pricing-table-header::before,
.pricing-table-header::after {
    background: #5CA7E0;
}

.our-team .social ul li a:hover {
    color: #5CA7E0;
}

.our-team .social {
    background: rgba(255, 102, 0, .77);
}

.team-details-area .social li a:hover {
    background: #5CA7E0;
}

.team-details .blockquote {
    border-left: 5px solid #5CA7E0;
}

.team-details .blockquote-footer {
    color: #5CA7E0;
}

.team-contact-info .box i {
    color: #5CA7E0;
}

.shorting-menu .filter.active {
    background: #5CA7E0;
}

.shorting-menu .filter:hover {
    background: #5CA7E0;
}

.single-portfolio .link-view a {
    background: #5CA7E0;
}

.single-portfolio .link-view a:hover {
    color: #5CA7E0;
}

.portfolio-content h3 i {
    color: #5CA7E0;
}

.portfolio-details-content ul li::before {
    background: #5CA7E0;
}

.contact-info .info-box .icon {
    color: #5CA7E0;
    border: 1px solid #5CA7E0;
}

.contact-info .info-box:hover .icon {
    background: #5CA7E0;
}

.get-in-touch .text span {
    color: #5CA7E0;
}

.get-in-touch .stay-connected li a:hover {
    color: #5CA7E0;
}

.page-item.active .page-link {
    background-color: #5CA7E0;
    border-color: #5CA7E0;
}

.page-link:hover,
.page-link:focus {
    background-color: #5CA7E0;
    border-color: #5CA7E0;
}

.side-bar .widget .title::before {
    background: #5CA7E0;
}

.sidebar-testimonials .owl-theme .owl-nav [class*="owl-"] {
    color: #5CA7E0;
}

.side-bar .single-post .content ul li a {
    color: #5CA7E0;
}

.side-bar .popular-tags ul li a:hover {
    background: #5CA7E0;
}

.faq-contact::before {
    background: #5CA7E0;
}

.footer-area .contact-info ul li:last-child {
    background: #5CA7E0;
}

.footer-area .contact-info .text p a {
    color: #5CA7E0;
}

.newsletter h3 {
    color: #5CA7E0;
}

.copyright-area ul li a:hover {
    color: #5CA7E0;
}

.go-top:hover {
    background: #5CA7E0;
}
